<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Disconnected_Environment.Properties.Settings.kampusConnectionString"
            connectionString="Data Source=LAPTOP-C3M8HP9E\KURANGTAU;Initial Catalog=kampus;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>